body {
    box-shadow: antiquewhite;
}

.card {
    width: 700px;
    height: 350px;
    border-radius: 20px;
    padding: 50px;
    text-align: center;
    position: relative;
    background-color: floralwhite;

}

.card_details {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 220;
    font-display: center;
    text-align: center;
  
}

.text_first {
    color: rgb(67, 67, 67);
    font-family: 'Times New Roman', Times, serif;
    text-shadow: darkgrey;
}

.text_second {
    color: rgb(67, 67, 67);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: darkgray;
}
.card_button {
    width: 100px;
    height: 50px;
    border-radius: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    border: none;
    background-color: black;
    color: azure;
    
    
}