
h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif 20px;
    border: blue 5px solid;
    border-radius: 40px;
    width: fit-content;
}

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: green 3px dotted;
    width: fit-content;
}