

.card {
    width: 800px;
    height: 310px;
    background: rgb(7, 7, 44);
       
}

.card_color_line {
    position: relative;
    width: 100%;
    height: 100px;
    transform-origin: bottom right;
    transform-style: preserve-3d;

}

.pink-line {
    border: none;
    border-top: 2px solid pink;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30%;
    height: 3px;
    transform-origin: bottom right;
    transform: rotate(5deg);

}

.red-line {
    border: none;
    border-top: 2px solid red;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30%;
    height: 3px;
    transform-origin: bottom right;
    transform: rotate(15deg);
  }
  
  .blue-line {
    border: none;
    border-top: 2px solid blue;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30%;
    height: 3px;
    transform-origin: bottom right;
    transform: rotate(30deg);
  }

  .yellow-line {
    border: none;
    border-top: 2px solid yellow;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30%;
    height: 3px;
    transform-origin: bottom right;
    transform: rotate(45deg);
  }

  .green-line {
    border: none;
    border-top: 2px solid green;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30%;
    height: 1px;
    transform-origin: bottom right;
    transform: rotate(60deg);
  }

  .purple-line {
    border: none;
    border-top: 2px solid purple;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30%;
    height: 1px;
    transform-origin: bottom right;
    transform: rotate(75deg);
  }

 .line_right {
    position: absolute;
    background-color: aqua;
    box-shadow: 0px 0px 12px aqua;
    width: 4px;
    height: 310px;
    top: 10px;
    left: 22px;
    border-radius: 50%;
    
  }

.card_details {
    color: darkgrey;
    font-family: serif;
    padding-left: 50px;
    padding-top: 30px;
    
}

.card_title {
    font-family: serif;
    font-weight: bolder;
    font-size: 30px;
    
    
}


.card_text_first {
    font-family: serif;
    font-size: 11px;
    max-width: 450px;
    
}

.card_button {
    width: 80px;
    height: 30px;
    font-family: serif;
    font-size: 15px;
    border-radius: 15px;
    color: black;
    text-shadow: darkgray;


}

 